.calculator {
    width: 240px;
    margin: 0 auto;
    border-collapse: collapse;
  }

  #result {
    width: 95%;
    height: 55px;
    margin-bottom: 0px;
    font-size: 20px;
    background-color: #ffffff;
    border: 8px solid rgb(187, 187, 187);
    text-align: right;
  }
  .btn {
    width: 70px;
    height: 55px;
    font-size: 18px;
    border: none;
    margin-bottom: 0%;
    background-color: #3dd0ed;
    box-shadow: 6px 1px rgb(187, 187, 187);
    color: #333;
    cursor: pointer;
  }
  .operator {
    background-color: #2ccdee;
    color: #333;
  }
  
  .btn:hover {
    background-color: #333;
    color: #fff;
    
  }
  
  td {
    padding: 4px;
  }
  